@page
@model RazorPagesMovie.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
        <small class="form-text text-muted">
            Password must be at least 6 characters long. Should include lowercase, uppercase, and a digit or special character.
        </small>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit">Register</button>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger mt-3">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div>@error.ErrorMessage</div>
            }
        </div>
        }
</form>

<a asp-page="/Login">Back to Login</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
